<ion-header>
  <ion-toolbar>
    <ion-title>Sort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Sort by date</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Sort by Account Holder</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item> 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismiss()">Apply</ion-button>
    </ion-buttons>    
    <ion-buttons slot="primary" >
      <ion-button color="primary">Reset</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>