<ion-header [translucent]="true" id="transferslist-header">
  <ion-toolbar>
    <ion-buttons slot="secondary">
       <!--Here is antipattern, just to show how to exclude code from codecoverage. There are same antipattern one more -->
      <ion-button color="primary" (click)="toggleSortBar()">
        <ion-icon slot="icon-only" name="filter-circle-outline" ></ion-icon>
      </ion-button>
      <ion-button id="button-toggle-searchbar-transferslist" color="{{canToggleSearchBar()?'primary':'light'}}" (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Transfers List
    </ion-title>
  </ion-toolbar>
  <ion-searchbar  id="searchbar-transferslist" *ngIf="showSearchBar"  showClearButton="always"  debounce="300" [value]="searchText" (ionChange)="onSearchUpdate($event)" ></ion-searchbar>
  <!--Here is antipattern, just to show how to exclude code from codecoverage. Also, hard to maintain, hard to add new features. 
    Implicit property "sortField" creation
  -->
  <div *ngIf="showSortBar">Sort list by:
    <ion-chip color="{{sortField=='value.accountHolder'?'primary':'dark'}}" (click)="sortField='value.accountHolder'">
      <ion-label color="{{sortField=='value.accountHolder'?'primary':'medium'}}">Account Holder</ion-label>
    </ion-chip>
    <ion-chip color="{{sortField=='value.date'?'primary':'dark'}}" (click)="sortField='value.date'">
      <ion-label color="{{sortField=='value.date'?'primary':'medium'}}">Date</ion-label>
    </ion-chip>
  
  </div>
</ion-header>

<ion-content fullscreen> 
  <ion-list lines="full">
    <ion-item-group *ngFor="let transfer of filtredTransfersList | keyvalue | orderBy: sortField">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable (click)="confirmDeleteTransfer(transfer.key,transfer.value)">
            Delete
          </ion-item-option>
        </ion-item-options>
      <ion-item>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="auto">
              {{transfer.value.date | date:'dd.MM.YYYY' }}
            </ion-col>
            <ion-col size="auto">
              {{transfer.value.amount | currency : 'EUR' : 'symbol' : '0.2-2' }}
            </ion-col>
            <ion-col size="auto">
              {{transfer.value.accountHolder}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between">
            <ion-col size="auto">
              <ion-label>IBAN:</ion-label>
            </ion-col>
            <ion-col size="auto">
              {{transfer.value.iban | ibanFormatter}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between" *ngIf="transfer.value.note">
            <ion-col size="12">
              <ion-accordion-group>
                <ion-accordion>
                  <ion-item slot="header">
                    Note
                  </ion-item>
                  <ion-list slot="content">

                    <ion-text color="medium">
                      {{transfer.value.note}}
                    </ion-text>
                  </ion-list>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable (click)="presentEditModal(transfer.value,transfer.key)">
          Edit
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <ion-item *ngIf="!searchResultExists"><ion-label color="warning">Nothing found!</ion-label></ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentEditModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>